// nextflow.config
manifest {
    name = 'md_pipeline'
    author = 'Nikhila'
    version = '1.0.0'
}

params {
    input = 'proteins.csv'
    outdir = 'results'
    md_params_dir = 'md_params'
}

process {
    // This tells Nextflow where to run your jobs
    // Use 'local' for your computer, or 'slurm' for an HPC cluster
    executor = 'local' 

    // This is the software container with GROMACS
    withName: '*' {
        container = 'biocontainers/gromacs:2024.5'
        // If you are using Singularity on a cluster:
        // container = 'docker://biocontainers/gromacs:2024.1'
    }

    // Set resource requirements for each process
    // This helps with scheduling on clusters
    withName: 'PRODUCTION' {
        cpus = 16
        memory = '32 GB'
        time = '24h'
    }
}
